mat-card-content {	
    padding-left: 0;
    padding-right: 0;
}
.add-task-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.tasks-table {
    width: 100%;
    border-collapse: collapse;
    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: none;
        }
        cursor: pointer;

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }

    }

    th {
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;

        &:first-child {
            padding-left: 16px;
        }
    }
}


.delete-btn .contact-btn{
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-right: 16px;
}

.low {
    background-color: #00b894;
}

.medium {
    background-color: orange;
}

.urgent {
    background-color: red;
}

.to-do {
    background-color: #0984e3;
}

.in-progress {
    background-color: #6c5ce7;
}

.done {
    background-color: #00cec9;
}

.tasks-table td:nth-child(2)  {

    height: 20px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    margin-top: 12px;
    margin-right: 16px;
}

.tasks-table td:nth-child(3)  {

    height: 20px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    margin-top: 12px;
    margin-right: 16px;
}

@media screen and (max-width: 600px) {
    .mobile-display-none {
        display: none;
    }
    
}
