<mat-card class="guest-detail-header">
    <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="guestMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #guestMenu="matMenu">
    <button mat-menu-item (click)="editGuestDetail()" >Edit</button>
  </mat-menu>
  <img class="ml-16 mb-16" src="./assets/img/profil.png" />
  <div class="guest-details">
    <h2>{{ guest.firstName }} {{ guest.lastName }}</h2>
    {{ guest.email }}
  </div>
</mat-card>

<mat-card class="mt-32">
  <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="guestAddressMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #guestAddressMenu="matMenu">
    <button mat-menu-item (click)="editGuest()" >Edit</button>
  </mat-menu>

  <mat-card-title class="ml-16">Address</mat-card-title>
  <mat-card-content>
    {{ guest.street }} <br />
    {{ guest.zipCode }} {{ guest.city }} <br />
    {{ guest.country }}
  </mat-card-content>
</mat-card>

