<mat-card>
  <h1>Hospitality CRM</h1>

  <p>
    This is a simple CRM for hospitality businesses. It is built with Angular
    and Firebase.
  </p>

  <p>Features:</p>
    

  <li>1. Create an account for your <a routerLink="/signup">booking agents.</a></li>
  <li>2. Set up your <a routerLink="/properties">properties.</a></li>
  <li>3. Add your <a routerLink="/bookings">bookings.</a></li>
  <li>4. Edit or cancel your <a routerLink="/bookings">bookings.</a></li>
  <li>5. View & change details of your <a routerLink="/guests">guests.</a></li>


  <p>Need help?</p>

  <p>Don't hesitate to contact us!</p>
  <p><a href = "mailto: mail&#64;benjamin-tietz.com">Send Email</a></p>
</mat-card>
