<mat-card class="property-detail-header">
  <button (click)="deleteProperty($event,property)" class="delete-btn" mat-mini-fab color="primary" matTooltip="Delete property" [matTooltipPosition]="'above'!">
    <mat-icon>delete</mat-icon>
  </button>
    <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="propertyMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #propertyMenu="matMenu">
    <button mat-menu-item (click)="editProperty()" >Edit</button>
  </mat-menu>
  <img class="ml-16 mb-16" src="./assets/img/hotel.png" />
  <div class="property-details">
    {{ property.name }} <br>
    {{ property.price }} € per night
  </div>
</mat-card>

<mat-card class="mt-32">
  <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="propertyAddressMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #propertyAddressMenu="matMenu">
    <button mat-menu-item (click)="editPropertyAddress()" >Edit</button>
  </mat-menu>

  <mat-card-title class="ml-16">Address</mat-card-title>
  <mat-card-content>
    {{ property.street }} <br />
    {{ property.zipCode }} {{ property.city }} <br />
    {{ property.country }}
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <button
    mat-icon-button
    class="pin-right-upper-corner"
    [matMenuTriggerFor]="propertyAmenitiesMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #propertyAmenitiesMenu="matMenu">
    <button mat-menu-item (click)="editPropertyAmenities()" >Edit</button>
  </mat-menu>

  <mat-card-title class="ml-16">Amenities</mat-card-title>
  <mat-card-content>
    {{ property.amenities }}
  </mat-card-content>
</mat-card>
